<div class="col">
  <div class="card shadow-sm">
    <img
      class="card-img-top"
      src="{{ pelicula.fotoPelicula }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <div class="text-start">
        <div>
          <label for="">Imagen:</label>
          <input type="text" [(ngModel)]="pelicula.fotoPelicula" />
        </div>
        <div>
          <label for="">Título:</label>
          <input type="text" [(ngModel)]="pelicula.nombre" />
        </div>
        <div>
          <label for="">Fecha de estreno:</label>
          <input type="date" [(ngModel)]="pelicula.fechaEstreno" />
        </div>
        <div>
          <label for="">Género:</label>
          <select
            name="miselect"
            [(ngModel)]="pelicula.tipo"
            [value]="pelicula.tipo"
          >
            <option [value]="item" *ngFor="let item of generosPelicula">
              {{ item }}
            </option>
          </select>
        </div>
        <div>
          <label for="">Cantidad de publico:</label>
          <input type="text" [(ngModel)]="pelicula.cantidadPublico" />
        </div>
      </div>
      <button class="btn btn-dark" type="button" (click)="modificar()">
        Modificar
      </button>
    </div>
  </div>
</div>
