<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/bienvenido">
          <img
          src="../../../../assets/img/entradas.png"
          alt="Logo"
          width="40"
          height="40"
          
      /> Cueva Cine</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="mostrarNavLink()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        [class]="{ collapse: verNavLink }"
        class="navbar-collapse"
        id="navbarCollapse"
      >
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/busqueda">Búsqueda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/actor/listado">Actores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/peliculas/listado">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/actor/actorpelicula">Actor-Pelicula</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  