img{
    width: 100%;
    height: 100%;
}
input{
    width: 100%;
}
button{
    margin-top: 20px;
    width: 100%;
}
select{
    width: 100%;
}
.mage-container{
    background-color: rgba(128, 128, 128, 0.135);
    width: 100%;
   height: 350px;
}









